html{
  background: url(../images/harambe-background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "courier new";
}
#titleBar{
  text-align: center;
  text-shadow: 2px 2px #D3D3D3;
}
.input-fieldset{
  border: 0;
  text-align: center;
  margin-top: 20%;
}
.textbox-input{
  opacity: 0.8;
}

#successHolder{
  text-align: center;
  margin-top: 20%;
  font-size: 1.2em;
}

#errorHolder{
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.2em;
}
